* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1f2021;
    --secondary-color: #c95e16;
    --tertiary-color: #97e4e8;
    --hover-text-color: black;
}
body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* header start */
header {
    background-color: var(--primary-color);
    display: flex;
    color: var(--secondary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 34px;
    padding: 10px 15px;
    margin: 0;    
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color)
}

header nav {
    padding: 10px 15px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.header-nav-list li {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--tertiary-color);
    justify-content: space-between;
    margin: 0 20px;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    align-self: center;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--hover-text-color);
    border-radius: 15px;
    text-shadow: none;
}

header h1 a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
  }
/* header end */



/* hero start */
.hero-img {
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-img h3 {
    color: var(--tertiary-color);
    margin: 35px 35px;
    display: flex;
    font-size: 40px;
}
/* hero end */



/*main grid css start */

main {
    display: grid;
    width: 90%;
    margin: 0 10%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
}
.header-grid-item {
    border-right: 5px solid var(--secondary-color);
    font-size: 50px;
    text-align: right;
    grid-column: 1/ span 1;
    padding: 2px;
    padding-right: 10px;
}
.body-grid-item {
    grid-column: 2/ span 1;
    margin-right: 30px;   
}
/* main grid css end*/

/* about me start */
.about-me-text p {
    font-size: 18px;
}
/* about me end */


/* work start */
.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    align-self: center;
}
.project-grid-item {
    justify-content: space-between;
    min-height: 100px;

    
}
.project-grid-item p {
    font-size: 20px;
    background-color: var(--primary-color);
}
.project-grid-item a {
    text-decoration: none;
    color: inherit;
}

.project1 {
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
}
.project2 {
    background-image: url(../images/hello-world.jpg);
    background-size: cover;
}
.project3 {
    background-image: url(../images/boo-the-dog.jpg);
    background-size: cover;
}
.project4 {
    background-image: url(../images/fan-page-prework.jpg);
    background-size: cover;
}
.project5 {
    background-image: url(../images/horiseon-project.jpg);
    background-size: cover;
}
/* work end */


/* contact me start */
.contact-me-section {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr); 
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    font-size: 18px;
}

.contact-info a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.ul-body {
    align-self: center;
}

.ul-body li {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--tertiary-color);
    margin: 0 10px;
}

.contact-info a:hover {
    background: var(--secondary-color);
    color: var(--hover-text-color);
    border-radius: 5px;
    text-shadow: none;
    padding: 1px;
    font-size: large;
}
/* contact me end */

/* media queries start*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    html {
        width: 100%;
    }
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .hero-img {
        justify-content: center;
        height: 300px;
        align-items: center;
    }
    .hero-img h3 {
        margin: auto;
    }
    main {
        width: auto;
        margin: 10px 0;
        padding: 0;
    }
    main h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 768) {
    main {
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }       
}